version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: nexiom-master-db
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: nexiom_master
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
